html {
	font-size: 16pt;
	color: #e9e8ea;
	background-color: #1f1c1c;
	margin: 1% 10% 0;
	font-family: "Liberation Sans", "Nimbus Sans", sans-serif;
}

body > h1 {
	text-align: center;
}

a {
	color: #e9e8ea;
}

body > table {
	width: 100%;
}

body > table > thead {
	font-weight: bold;
}

table td:first-child {
	width: 60%;
	max-width: 60%;
	text-align: left;
}

table td:first-child > a {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 1.2em;
	word-break: break-all;
}

table td {
	width: 15%;
	max-width: 20%;
	text-align: right;
}

hr {
	color: #f23269;
}
